<%= form_tag do %>
  <div>
    <%= label_tag :name, t('.name') %>
    <%= text_field_tag :name, params[:name] %>
  </div>
  <div>
    <%= label_tag :password, t('.password') %>
    <%= password_field_tag :password, params[:password] %>
  </div>
  <div>
    <%= submit_tag t('.login'), class: 'button' %>
  </div>
<% end %>
