<h1><%= Bank.model_name.human(count: 2) %></h1>

<table>
	<thead>
		<tr>
			<th><%= Bank.human_attribute_name('name') %></th>
			<th><%= Bank.human_attribute_name('address') %></th>
			<th><%= Bank.human_attribute_name('bank_code') %></th>
			<th><%= Bank.human_attribute_name('branch_code') %></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @banks.each do |bank| %>
		<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
			<td><%= bank.name %></td>
			<td><%= bank.address %></td>
			<td><%= bank.bank_code %></td>
			<td><%= bank.branch_code %></td>
			<td><%= link_to t('general.show'), bank %></td>
			<td><%= link_to t('general.edit'), edit_bank_path(bank) %></td>
			<td><%= link_to t('general.destroy'), bank, method: :delete, data: { confirm: t('general.are_you_sure') } %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to t('.new'), new_bank_path %>
