<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong><%= Bank.human_attribute_name('name') + t('general.colon') %></strong>
  <%= @bank.name %>
</p>

<p>
  <strong><%= Bank.human_attribute_name('address') + t('general.colon') %></strong>
  <%= @bank.address %>
</p>

<p>
  <strong><%= Bank.human_attribute_name('bank_code') + t('general.colon') %></strong>
  <%= @bank.bank_code %>
</p>

<p>
  <strong><%= Bank.human_attribute_name('branch_code') + t('general.colon') %></strong>
  <%= @bank.branch_code %>
</p>

<%= link_to t('general.edit'), edit_bank_path(@bank) %> |
<%= link_to t('general.back'), banks_path %>
