<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%= t('navigation.welcome') %></h1>

<table>
  <thead>
    <tr>
      <th><%= Account.human_attribute_name('name') %></th>
      <th><%= t('.final_balance') %></th>
    </tr>
  </thead>

  <tbody>
    <% Account.all.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td class='text-right'><%= number_to_currency(account.final_balance) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

