<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Miser" %></title>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class='<%= controller.controller_name %> <%= action_name %>'>
  	<header>
      <%= render 'shared/navigation' if authenticated? %>
  		<%= hidden_field_tag '_locale', I18n.locale %>
    </header>
		<main role="main">
      <%= render 'shared/messages' %>
    	<%= yield %>
    </main>
  </body>
</html>

</html>