<!DOCTYPE html>
<html>
	<head>
		<title>Miser</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body class='<%= controller.controller_name %> <%= action_name %>'>
		<%= hidden_field_tag '_locale', I18n.locale %>
		<div id="banner">
			<%= image_tag("logo.png")%>
			<%= @page_title || t('.title')%>
		</div>
		<div id="columns">
			<div id="side">
				<ul>
          <li><%= link_to t('.menu_welcome'), welcome_path %></li>
          <li><%= link_to t(Bank.model_name.human(count: 2)), banks_path %></li>
          <li><%= link_to t(Account.model_name.human(count: 2)), accounts_path %></li>
          <li><%= link_to t(Operation.model_name.human(count: 2)), operations_path %></li>
          <li><%= link_to t(User.model_name.human(count: 2)), users_path %></li>
				</ul>
			</div>
			<div id="main">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
