<h1><%= Account.model_name.human(count: 2) %></h1>

<table>
  <thead>
    <tr>
      <th><%= Account.human_attribute_name('name') %></th>
      <th><%= Account.human_attribute_name('code') %></th>
      <th><%= Account.human_attribute_name('balance') %></th>
      <th><%= Account.human_attribute_name('bank') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.code %></td>
        <td><%= account.balance %></td>
        <td><%= account.bank.name %></td>
        <td><%= link_to t('general.show'), account %></td>
        <td><%= link_to t('general.edit'), edit_account_path(account) %></td>
        <td><%= link_to t('general.destroy'), account, method: :delete, data: { confirm: t('general.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_account_path %>
