<p>
  <strong><%= Account.human_attribute_name('name') + t('general.colon') %></strong>
  <%= @account.name %>
</p>

<p>
  <strong><%= Account.human_attribute_name('code') + t('general.colon') %></strong>
  <%= @account.code %>
</p>

<p>
  <strong><%= Account.human_attribute_name('balance') + t('general.colon') %></strong>
  <%= number_to_currency(@account.balance) %>
</p>

<p>
  <strong><%= Account.human_attribute_name('bank') + t('general.colon') %></strong>
  <%= @account.bank.name %>
</p>

<%= link_to t('general.edit'), edit_account_path(@account) %> |
<%= link_to t('general.back'), accounts_path %>
