<%= form_for(@operation) do |f| %>
  <% if @operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operation.errors.count, t('general.error')) %> <%= t('.error') + t('general.colon') %></h2>

      <ul>
      <% @operation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :transaction_type, t('.transaction_type') %><br>
    <% OperationsController::TransactionType.each do |key, value| %>
      <%= radio_button_tag :transaction_type, value, value == @transaction_type %>
      <%= label_tag value, t("operations.transaction_type.#{key.downcase}") %><br>
    <% end %>
    </br>
  </div>
  <div class="field">
    <%= f.label :account %><br>
    <%= f.collection_select(:account_id, Account.order(:name), :id, :name) %>
  </div>
  <div id="transferDiv" class="field">
    <%= label_tag :transfer_account, t('.transfer_account') %><br>
    <%= collection_select(:transfer_account, :id, Account.order(:name), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date, value: l(@operation.date), as: :datepicker %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit class: 'button' %>
    <%= link_to t('general.cancel'), account_operations_path(@operation.account), class: 'button' %>
  </div>
<% end %>

