<h1><%= Operation.model_name.human(count: 2) %></h1>

<table>
  <thead>
    <tr>
      <th><%= Operation.human_attribute_name('account') %></th>
      <th><%= Operation.human_attribute_name('date') %></th>
      <th><%= Operation.human_attribute_name('amount') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.account.name %></td>
        <td><%= operation.date %></td>
        <td><%= operation.amount %></td>
        <td><%= link_to t('general.show'), operation %></td>
        <td><%= link_to t('general.edit'), edit_operation_path(operation) %></td>
        <td><%= link_to t('general.destroy'), operation, method: :delete, data: { confirm: t('general.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_operation_path %>
