<h1>Listing operations</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Date</th>
      <th>Transfer account</th>
      <th>Amount</th>
      <th>Transaction type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.account %></td>
        <td><%= operation.date %></td>
        <td><%= operation.transfer_account %></td>
        <td><%= operation.amount %></td>
        <td><%= operation.transaction_type %></td>
        <td><%= link_to 'Show', operation %></td>
        <td><%= link_to 'Edit', edit_operation_path(operation) %></td>
        <td><%= link_to 'Destroy', operation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operation', new_operation_path %>
