<h1><%= Operation.model_name.human(count: 2) %></h1>

<table>
  <thead>
    <tr>
      <th><%= Operation.human_attribute_name('account') %></th>
      <th><%= Operation.human_attribute_name('date') %></th>
      <th><%= Operation.human_attribute_name('amount') %></th>
      <th><%= t('.balance') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.account.name %></td>
        <td><%= l(operation.date) %></td>
        <td class='text-right'><%= number_to_currency(operation.amount) %></td>
        <td class='text-right'><%= number_to_currency(operation.account.balance_until_operation(operation)) %></td>
        <td><%= link_to t('general.show'), operation %></td>
        <td><%= link_to t('general.edit'), edit_operation_path(operation) %></td>
        <td><%= link_to t('general.destroy'), operation, method: :delete, data: { confirm: t('general.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_account_operation_path(@account), class: 'button' %>
