<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Account:</strong>
  <%= @operation.account.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @operation.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@operation.amount) %>
</p>

<%= link_to t('general.edit'), edit_operation_path(@operation) %> |
<%= link_to t('general.back'), operations_path %>
