<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong><%= Operation.human_attribute_name('account') + t('general.colon') %></strong>
  <%= @operation.account.name %>
</p>

<p>
  <strong><%= Operation.human_attribute_name('date') + t('general.colon') %></strong>
  <%= l(@operation.date) %>
</p>

<p>
  <strong><%= Operation.human_attribute_name('amount') + t('general.colon') %></strong>
  <%= number_to_currency(@operation.amount) %>
</p>

<%= link_to t('general.edit'), edit_operation_path(@operation) %> |
<%= link_to t('general.back'), account_operations_path(@operation.account) %>
